*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*HEADER*/
header{
    height: 100px;
    background-color: grey;
    padding: 0 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    color: aquamarine;
    font-weight: 200;
}

.menu a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.menu a:hover{
    color:aquamarine ;
}

/*MAIN*/

section.banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 0;
}
.imglanding{
    border-radius: 50%;
    border: 1px solid black;
}
.resumen-home{
    display: flex;
    text-align: center;
}
.nombre-home{
    padding: 20px 0;
}
.main-portfolio{
    width: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.caja-portfolio{
    padding: 10px 0;
    border: 2px solid black;
}

/*FOOTER*/
footer{
    background-color: aqua;
    display: flex;
    justify-content: center;
    height: 100px;
}
footer a{
    text-decoration: none;
    padding: 10px
}




/* RESPONSIVE*/
@media(min-width: 768px){
    .main-portfolio{
        width: 100%;
        height: 600px;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;    
    }
    .caja-portfolio{
        width: calc(40% - 10px) ;
        margin: 10px;
        background-color: brown;
        display: flex;
        justify-content: center;

    }
}

/*Pantalla grande*/
/*--Pantalla grande --*/

@media screen and (min-width: 992px) {
    header.container,main.container, footer {
        width: 80%;
        margin: 0 auto;
}
}

